{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/lisha.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">LISHALI</div>
            <div class="designation">C.E.O LISHA CORP</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/jrao.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">JAYASHREE</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/arun.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ARUN</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/chetan.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">CHETAN</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/prashe.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">PRASHEETHA</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/aakaash (2).jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">AAKASH</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}