{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/barracuda1tb.jpg" alt="product image">
            </div>
            <div class="itemname">seagate 1 TB 3.5" internal hard drive</div>
            <div class="itemprice">Price: Rs.3600.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/b450.jpg"  alt="product image">
            </div>
            <div class="itemname">ASRock B4500M steel legend socket AM4</div>
            <div class="itemprice">Price: Rs.8000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/chip processor.jpg"  alt="product image">
            </div>
            <div class="itemname">Intel core i7 processor</div>
            <div class="itemprice">Price: Rs.24000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/ddr4.jpg"  alt="product image">
            </div>
            <div class="itemname">HyperX Fury 8GB 3200MHZ DDR4</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/desktop.jpg"  alt="product image">
            </div>
            <div class="itemname">ultra slim glare full LED HD monitor</div>
            <div class="itemprice">Price: Rs.8500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/floppy.jpg"  alt="product image">
            </div>
            <div class="itemname">floppy</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/gty.jpg"  alt="product image">
            </div>
            <div class="itemname">graphic card</div>
            <div class="itemprice">Price: Rs.25000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/headphone.jpg"  alt="product image">
            </div>
            <div class="itemname">Headset</div>
            <div class="itemprice">Price: Rs.1000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/key mouse.jpg"  alt="product image">
            </div>
            <div class="itemname">Dell Km117 Wireless keyboard mouse</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/lap.jpg"  alt="product image">
            </div>
            <div class="itemname">Asus Zenbook 14 UX425JA-HM021T</div>
            <div class="itemprice">Price: Rs.81000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/pendrive.jpg"  alt="product image">
            </div>
            <div class="itemname">HP pendrive 32 GB</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/rom.png"  alt="product image">
            </div>
            <div class="itemname">intel i9 9900k processor</div>
            <div class="itemprice">Price: Rs.36000.00 </div>
        </div>
    </div>
    </div>
{% endblock  %}